#controls {
    clear: both;
    margin: 20px 40px;
}

#controls button {
    width: 440px;
    font-size: 1.5em;
    margin: auto;
}

svg rect {
    stroke: black;
    fill: transparent;
}

svg rect.alive {
    fill: green;
}
